*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.container{
    width: 900px;
    margin: auto;
}
header{background-color: rgb(1, 1, 122);
position: fixed;
top: 0;
width: 100%;}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
}
ul{
    display: flex;
    gap: 4rem;
}
ul li{
    list-style-type: none;
}
a{ text-decoration: none;
color: white;
}
button{
    background-color: rgba(162, 33, 33, 0.936);
    color: white;
    padding: 12px 15px;
    border: none;
}
.hero-section{ background-image: url(/img/720entrance.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;}
.hero-text{ text-align: center;
padding: 17% 0;}
h1{ color: blue;
font-size: 30px;
padding-bottom: 20px;
width: 400px;
margin: auto;
}
.our-school h1{
    text-align: center;
    padding: 40px 40px;
    color: blue;
    font-size: 40px;
}
.box{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.box-content{ 
    background-color: white;
    width: 37%;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}
.box-content img{
width: 100%;
}
.box-content h3{
    color: blue;
    padding: 5px 0;
}
.form{ background-color: white;
text-align: center;
margin: 30px;}
label{ color: blue;
font-size: 19px;
margin: 30px 0;
}
.form h1{ padding-top: 20px 0;}

form{
    width: 450px;
    margin: auto;
    text-align: left;

}
input{ 
    width: 100%;
    padding: 10px;
    border: 1px solid gray ;
    margin: 8px 0;
}
textarea{
    width: 100%;
    padding: 12px;
}
.form button{
    margin-top: 12px;
}
.form p{
    padding-bottom: 8px;
}
footer{
    background-color: rgba(11, 11, 191, 0.87);
    padding: 15px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;}
.footer ul{
    display: block;
}
.footer h4{
    color: white;
    font-weight: 100;
}
.foot .social-links{
    gap: 2rem;
}



